/* General */

* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --black: #000000;
    --white: #FFFFFF;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

/* Elements configuration */

.fa-solid {
    color: var(--main-color);
}
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

button:hover {
    cursor: pointer;
}

/* Main */

.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
}

.main-footer-container {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin: 0px 50px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 35px;
}


/* Header */

header {
    display: flex;
    justify-content: space-between;
    height: 79px;
    margin-bottom: 30px;
}

header .logo {
    height: 19px;
    margin: 30px;
}

header ul {
    display: flex;
    flex-direction: row;
    gap: 69px;
    margin-top: 0px;
}

header ul .header-button {
    list-style-type: none;
    padding-top: 16px;
    font-size: 16px;
}

header ul .header-button a {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 16px;
    color: var(--black);
    text-decoration: none;
}

header ul .header-button a:hover {
    color: var(--main-color);
    padding-top: 14px;
    border-top: 2px solid var(--main-color);
}



/* Info Group */

.info-group {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.info-group .headline {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.search-bar {
    width: 377px;
    height: 49px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid var(--main-bg-color);
    border-radius: 15px;
}

.search-bar .position-logo {
    background-color: var(--main-bg-color);
    display: flex;
    align-items: center;    
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.search-bar .position-logo i {
    color: var(--black);
    padding-left: 18px;
    padding-right: 18px;
}

.search-bar .destination-search {
    display: flex;
    align-items: center;    
}

.search-bar .destination-search form input {
    border: none;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}

.search-bar .destination-search form input::placeholder {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}

.search-bar .destination-search form input:focus {
    outline: none;
    border: none;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}

.search-bar .search-button-text {
    background-color: var(--main-color);
    border: none;
    color: var(--main-bg-color);
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;    
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 14px 16px 14px 16px;
}

.search-bar .search-button-logo {
    display: none;
}


.filter-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.filter-bar .filter-bar-button-container {
    display: flex;
    flex-direction: row;
    gap: 15px;    
}

.filter-bar .filter-bar-button-container .filter-bar-button-container-g {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.filter-bar .filter-bar-button-container .filter-bar-button-container-g .filter-bar-button {
    border: 2px solid #D9D9D9;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    height: 50px;
    padding-right: 19px;
    padding-left: 19px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--white);
}

.filter-bar .filter-bar-button-container .filter-bar-button-container-g .filter-bar-button:hover {
    background-color: var(--filter-bg-color);
}

.filter-bar .filter-bar-button-container .filter-bar-button i {
    color: var(--main-color);
}

.infobar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.infobar .i-logo {
    border: 1px solid #D9D9D9;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.infobar .i-logo i {
    color: var(--black);
}


/* Hebergements et populaires */

.hebergements-and-populaires {
    display: flex;
    flex-direction: row;
    gap: 40px;
}


/* Hebergements */

.hebergements {
    width: 67%;
    background-color: var(--main-bg-color);
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hebergements-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hebergements-cards-g {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.hebergements-cards-g .card {
    flex-basis: 0;
    flex-grow: 1;
    width: 100%;
}

.hebergements-cards-g .card img {
    width: 100%;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}


.afficher-plus {
    text-align: start;
    border: none;
    font-weight: 700;
    font-size: 18px;
}


/* Populaires */

.populaires {
    width: 33%;
    background-color: var(--main-bg-color);
    padding: 30px;
    border-radius: 15px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.populaires-cards{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.populaires-cards .card {
    display: flex;
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 0px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/* Activities */

/* A REVOIR ----------------------------------------- */

.activities {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
}

.activities-title h2{
    font-weight: 700;
    font-size: 22px;
}

.activities-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.activities-container .card {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.activities-container .card img{
    border-radius: 20px 20px 0px 0px;
    height: 380px;
    width: 100%;
}

.card-title {
    margin: 20px 19px;
    font-weight: 700;
}


/* Footer */

footer {
    background-color: var(--main-bg-color);
}

footer .box-container {
    display: flex;
    flex-direction: row;
}

footer .box-container .box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: calc(100% /3);
    padding: 20px;
}

.footer-title {
    font-weight: 700;
    font-size: 18px;
}


/* Media queries */

/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {

    /* Info Group */

    .infobar .i-logo i {
        color: var(--main-color);
    }

    .hebergements-and-populaires {
        flex-direction: column;
        gap: 50px;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
    }

    .populaires-cards{
        flex-direction: row;
    }

    .populaires-cards .card {
        flex-basis: 0;
        flex-grow: 1;
        width: 100%;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

   /* Main */

    .main-footer-container {
        margin: 0px;
    }

    /* Info Group */

    .info-group {
        margin: 20px;
    }

    .search-bar {
    }

    .search-bar .search-button-text {
        display: none;
    }
    
    .search-bar .search-button-logo {
        background-color: var(--main-color);
        border: none;
        display: flex;
        align-items: center;    
        border-radius: 15px;
        padding: 16px;
    }

    .search-bar .search-button-logo i {
        color: var(--white);
    }

    .filter-bar {
        flex-direction: column;
    }
    
    .filter-bar .filter-bar-button-container {
        flex-direction: column;
        gap: 10px;
    }

    .filter-bar .filter-bar-button-container .filter-bar-button-container-g .filter-bar-button {
    }

    /* Hebergements */

    .hebergements {
        border-radius: 0px;
    }

    .hebergements-cards-g {
        flex-direction: column;
        gap: 15px;
    }

    /* Populaires */

    .populaires {
        border-radius: 0px;
    }

    .populaires-cards{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    /* Activities */

    .activities-container{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .activities-container .card {
        width: 100%;
    }

    .activities-container .card img{
        height: 141px;
        width: auto;
    }

    /* Footer */

    footer .box-container {
        flex-direction: column;
        gap: 30px;
    }

}